<%- include('header') %>
<h1 class="h1about">Simple To-Do List App</h2>
<p class="pabout">This Simple todo app is a great way to keep track of your tasks and stay organized.</p>
<h2 class="h2about">How we made it</h3>
<p class="pabout">
  With EJS, we can easily create a dynamic todo list that updates in real-time. We use EJS to display your tasks, add
  new tasks, and mark tasks as completed. The simplicity of EJS makes it easy to build and maintain this app, and its
  flexibility allows for customization to fit your specific needs.
</p>
<%- include('footer') %>
