<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
  </head>
  <body style="background-color: cornsilk">
    <h1><%= kindOfDay %></h1>
    <br />
    <h2>What do you need to do today?</h2>
    <ul>
      <% itemList.forEach(function(item) { %>
      <li><%= item %></li>
      <% }); %>
    </ul>
    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="new item" />
      <button type="submit" name="button">Add Item</button>
    </form>
  </body>
</html>
