<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= listName %></h1>
      <h2>What do you need to do today?</h2>
    </div>
    <div class="box">
      <ul>
        <% itemList.forEach(function(item) { %>
        <div class="item">
          <input type="checkbox" />
          <p><%= item %></p>
        </div>
        <% }); %>
      </ul>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New item" autocomplete="off" />
        <button type="submit" name="listType" value="<%= listName  %>">+</button>
      </form>
    </div>
  </body>
</html>
