html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #0E8388 50%, #CBE4DE 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1, h2 , h3, p{
    color: #fff;
    padding: 0px;
    margin: 5px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #0E8388;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #0E8388;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form.item {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #0E8388;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #0E8388;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  footer a {
    color: #1d0db6;
    text-decoration: none;
  }

  nav {
    background-color: #0E8388;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #CBE4DE;
    color: #0E8388;
  }
  
.h1about {
  text-align: center;
  color: #0E8388;
  font-size: 50px;
  font-weight: bold;
  font-family: 'helvetica neue';
}

.h2about {
  text-align: center;
  color: #0E8388;
  font-size: 30px;
  font-weight: bold;
  font-family: 'helvetica neue';
}

.pabout {
  text-align: center;
  color: #00204a;
  font-size: 20px;
  font-weight: bold;
  font-family: 'helvetica neue';
}